.gridredeem {
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 100px 200px 200px;
    gap: 20px;
    padding: 20px;
    background-color: #1D1F2E;;
  }
  
  .grid-items {
      overflow: hidden;
    background-color: #1d4163;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: calc(0.1s * var(--delay));
  }
  .grid-itemss {
    overflow: hidden;
  background-color: #1d4163;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: calc(0.1s * var(--delay));
}
  
  .small-redeem {
    grid-column: span 1;
    grid-row: span 1;
  }
  
  .large-redeem{
    grid-column: span 2;
    grid-row: span 2;
  
  }
  
  .wide-redeem {
    grid-column: span 4;
    grid-row: span 1;

  }
  
  @keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
  .grid-items:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    background-color: #2c325f;
  }
  .backpng{
      height: 100px;
  
  }
  .backpng1{
      height: 150px;
  }
.goldtoken
{
  height: 150px;
  width:150px;
  margin-left: 40px;
  position: absolute;
  margin-left: -100px;
}
label
{
  z-index: 10;
  position: absolute;
  font-size: 20px;
  margin-left: 235px;
}
.token1
{
  height: 150px;
  width: 500px;
  margin-right: 200px;
}
.Xp
{
  height: 200px;
  width: 500px;
  margin-right: 200px;
  margin-bottom: -10px;
}

 .active
 {
  margin-right: 500px;
  margin-bottom: 180px;
  font-size: 20px;
  text-decoration: underline;
  position: absolute;
 }
 .lists
 {
  margin-left: -300px ;
  margin-top: -100px;
 }
 .taskstext{
  margin-top: -10px;
  color: white;
 }
 .redeemtext
 {
    border-radius: 10px;
    height:20px;
 }
 .taskstxt{
  display: flex;
  flex-direction: column;
  gap: 10px;
 }
 .mission-item {
  display: flex;
  align-items: center;
  margin: 10px 0; /* Space between mission items */
}

.mission-item label {
  margin-left: 20px; /* Space between checkbox and label */
}

.completed {
  text-decoration: line-through; /* Strikethrough for completed tasks */
  color: gray; /* Gray color for completed tasks */
}
.progress-bar {
  width: 0; /* Set initial width to 0 */
  height: 10px; /* Height of the progress bar */
  background-color: gold; /* Background color of the progress bar */
  transition: width 0.5s; /* Smooth transition for width changes */
  border-radius: 5px; /* Rounded corners */
  margin-top: 5px; /* Space between label and progress bar */
}
