<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new offer</title>
</head>
<body>
    <h1>Add new offer</h1>
    <form action="/order/" method="post">
        <label> customer name : </label> <input type="text" name="c_name" > <br><br>
        <label>restaurant name : </label> <input type="text" name="r_name" > <br><br>
        <label>delivery Partner's name : </label> <input type="text" name="dp_name" > <br><br>
        <label>order Amount : </label> <input type="number" name="orderValue" ><br><br>
        <label>ratings : </label> <input type="number" name="rating" ><br><br>
        <label>Distance : </label> <input type="number" name="distance" ><br><br>
        <label>Expected time : </label> <input type="number" name="et" ><br><br>
        <label>Dilevery time : </label> <input type="number" name="dt" ><br><br>

    
        <br>
        <button>submit</button>
    </form>   
</body>

</html>