/* dark color :#1D1F2E */
/* light color:#272938 */

.containerprof {
  display: flex;
  flex-direction: column;
  background-color: #061f37;
  height: 100%; /* Full page height */
  width: 100%;
}

.inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height:100%;

}
.headdiv{
  margin-left: 255px;
}

.profile-content {
  display: flex;
  justify-content: space-between; /* Space out details and picture */
  padding: 50px 20px;
  margin-top: 0%; /* Adjust margin to position content */
}

.profile-details {
  margin-top: -1%;
  margin-left: 30%;
  color: #00000000; /* Text color for contrast */
  background-color: #518596; 
  width: 30%;
  border-radius: 5%;
}

.profile-details h3 {
  margin: 10px 0;
  color: black; /* Highlighted color */
  padding-left: 1%;

}

.profile-details p {
  margin: 5px 0 15px 0;
  padding-left: 1%;
  color: black;
  
}

.two-cards {
  display: block;
  justify-content: center;
  align-items: center;
  margin-right: 25%;
}


.card1{
  display: block;
  flex-direction: column;
  height: 45%;
  width: 500%;
  color: #ffffff;
  margin-right: 15%;
  background-color: #518596; 
  color:black;
  border-radius: 5%;
  padding: 5%;
  margin-top: 20%;
}

.card2{
  display: block;
  flex-direction: column;
  height: 45%;
  width: 500%;
  color: #ffffff;
  margin-right: 15%;
  background-color: #518596; 
  color:black;
  border-radius: 5%;
  padding: 3%;
  margin-top: 75%;
}

.profile-pic{
  margin: 0px;
  height: 40%;
  width: 100%;
  border-radius: 0%;
  padding-left: 0px;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}