.stats1{
      background-color: #1D1F2E;;
      height: 350px; /* Adjust height as needed */
      width: 390px;  /* Adjust width as needed */
      display: flex;
      justify-content: space-between;
      justify-content: center;
      margin-left: 40px;
      margin-top: 15px;
      align-items: center;
      color: white;
      font-weight: bold;
      border-radius: 5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.graphss{
      display: flex;
      width: 100%;
      flex-direction: row;
}

.feedback{
      margin-left: 80px;
      margin-top: 15px;
      align-items: center;

}



    