.stats1{
      background-color: #518596;
      height: 450px; /* Adjust height as needed */
      width: 390px;  /* Adjust width as needed */
      display: flex;
      justify-content: space-between;
      justify-content: center;
      margin-left: 40px;
      margin-top: 15px;
      align-items: center;
      color: white;
      font-weight: bold;
      border-radius: 5px;
}
.graphss{
      display: flex;
      width: 100%;
      flex-direction: row;
}

.feedback{
      margin-left: 80px;
      margin-top: 15px;
      align-items: center;

}

  


    