.header-container {
    display: flex;
    align-items: center;
    background-color: #202548; /* Matches your image background */
    padding: 10px;
    height: 50px;
    width:94%;
    justify-content:space-between;
    margin-left: 40px;
    border-radius: 15px;
    
  }
  .headercontent
  {
    display: flex;
  }
  
  .search-bar {
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: none;
  }
  
  .badge {
    background-color: #c0c0c0; /* Example color for a silver badge */
    padding: 5px 10px;
    margin-left: 20px;
    border-radius: 5px;
    color: black;
    height: 25px;
  }
  
  .currency {
    background-color: #061f37;
    padding: 5px 10px;
    margin-left: 20px;
    border-radius: 5px;
    display: flex;
    height: 25px;
    color: white;
  }
  
  .profile-pic {
    margin-left: 20px;
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
  }
  
  .profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .gold{
    height: 30px;
    background-color: transparent;
  }
  .badge{
    background-color:#061f37;
    height: 25px;
  }
  .token{
    height: 25px;
  }